<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">  </script>
    <title>AngularJS demo form</title>
</head>
<body ng-app="app" ng-controller="ctrl">
    <h2>Restful Consumer - AngularJS</h2>
    <!-- Form -->
    <div>
        <input ng-model="form.email" placeholder="Email address?"><br>
        <input ng-model="form.fullname" placeholder="Full name?"><br>
        <input ng-model="form.mark" placeholder="Mark?"><br>
        <input ng-model="form.gender" ng-value="true" type="radio">Male<br>
        <input ng-model="form.gender" ng-value="false" type="radio">Female<br>
        <select ng-model="form.country">
            <option value="VN">Việt Nam</option>
            <option value="US">United States</option>
        </select>
        <hr>
        <button ng-click="create()">Create</button>
        <button ng-click="update()">Update</button>
        <button ng-click="delete(stu.email)">Delete</button>
        <button ng-click="reset()">Reset</button>
    </div><hr><br>
    <table style="width: 100%;" border="1">
        <tr>
            <th>Email</th>
            <th>Full name</th>
            <th>Mark</th>
            <th>Gender</th>
            <th>Country</th>
            <th></th>
        </tr>
        <tr ng-repeat="stu in items">
            <td>{{stu.email}}</td>
            <td>{{stu.fullname}}</td>
            <td>{{stu.mark}}</td>
            <td>{{stu.gender ? 'Male' : 'Female'}}</td>
            <td>{{stu.country}}</td>
            <td>
                <button ng-click="edit(stu.email)">Edit</button>
                <button ng-click="delete(stu.email)">Delete</button>
            </td>
        </tr>
    </table>
    <script src="demo-ctrl.js"></script>
</body>
</html>