<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Trang ok</title>
    </head>

    <body>
        <form th:action="@{/home/ok1}" method="GET">
            <button >OK 1</button><br>
        </form>
        <form th:action="@{/home/ok2}" method="GET">
            <button >OK 2</button><br>
        </form>
        <form th:action="@{/home/ok3}" method="GET">
            <button >OK 3</button><br>
        </form>
        kết quả: <span th:text="${message}"></span>
    </body>
</html>